{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClimaExpress</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link type="image/png" sizes="16x16" rel="icon" href="{%static 'icons8-sol-por-trás-da-nuvem-16.png'%}">
</head>
<body>
    <div class="container">
        <div class="dados">
            <h1>ClimaExpress</h1>
            <hr>
            {% if dados%}
            {%if dados.dados != null%}
            <h2>{{dados.dados}}</h2>
            {%else%}
            <h2>{{dados.nome}}, {{dados.pais}}</h2>
            <h4>{{dados.data}}</h4>
            <div class="icon">
                <img src="https://openweathermap.org/img/wn/{{dados.icon}}@2x.png" alt="">
            </div>
            <h1>{{dados.temp}}ºC</h1>
            <H3>{{dados.temp_min}}ºC / {{dados.temp_max}}ºC</H3>
            {%endif%}
            
        <div>
    
        
    {% endif %}
        
        <div class="form">
            <form action="{% url 'clima' %}" method="POST">
                {%csrf_token%}
                
                {%for i in form.visible_fields %}
                <div class="input">
                    <label class="input" for="{{i.label}}">{{i}}</label>
                </div>
                {%endfor%}
                <div class="botao">
                    <button>Pesquisar</button>
                </div>
                
            </form>
        </div>
        
    <div>
    
</body>
</html>